{% import 'funct.j2' as fct %}

<!DOCTYPE html>
<html lang="fr">
<body>
  <h1>TP R509 - Sujet 2 (ToDo list)</h1>
  <h2>Ceci est la page formulaire pour ajouter un élément dans la liste</h2>
  <h3>Remplissez le formulaire pour ajouter un élément</h3>
  <form action="{{ url_for('display_list') }}" method="POST">
    <label for="element">Tache à réaliser</label>
    <input type="text" id="texte" name="texte"><br><br> 
    <input type="submit" value="Ajouter">
  </form>
</body>
</html>