{% macro display_list(dico)%}
  <form>
  {% for key, value in dico.items() %}
    <input type="checkbox" id="{{ key }}" name="{{ value }}" value="{{ value }}">
    <label for="{{ value }}">{{ value }}</label><br>
  {% endfor %}
  </form>
{% endmacro %}