{% import 'funct.j2' as fct %}

<!DOCTYPE html>
<html lang="fr">
<body>
  <h1>TP R509 - Sujet 2 (ToDo list)</h1>
  <h2>Bienvenue sur la page d'accueil de votre ToDo list !</h2>
  <h3>Voici vos actions à réaliser...</h3>
  <p>Test de récupération de liste : {{ dico }}</p>

  {{ fct.display_list(dico)}}
  <br>
  <button onclick="window.location.href='http://127.0.0.1:8080/add';">
      Ajouter un élément (non fonctionnel depuis cette interface)
  </button>
  <br>
  <button onclick="window.location.href='http://127.0.0.1:8080/del';">
      Supprimer un élément (non fonctionnel depuis cette interface)
  </button>
</body>
</html>